# Node modules
node_modules/

# Build outputs
build/
dist/

# Production
/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
Thumbs.db
.DS_Store

# Editor directories and files
.vscode/
.vscode/*
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# IDE files
.idea/
*.iml

# Temporary
tmp/
temp/
*.tmp

# Parcel/Cra / misc
.cache/
.parcel-cache/
coverage/
*.tgz

# build artifacts from create-react-app
asset-manifest.json
service-worker.js
precache-manifest.*.js
manifest.json

# macOS
.Spotlight-V100
.Trashes

# Windows
ehthumbs.db
Desktop.ini

# Lockfiles (if you want to keep them in git, remove these)
# package-lock.json
# yarn.lock
