# Handle line endings
* text=auto

# Ensure JS and JSON files are normalized
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf

# Mark binary files
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.gif binary
